/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: url(../media/img/cursor.png), auto;
}
/* TIPOGRAFIAS */
@font-face {
    font-family:'Helvetica Bold';
    src: url(fonts/HelveticaNow/HelveticaNowDisplay-Bold.woff2);
}

@font-face {
    font-family:'Helvetica Medium';
    src: url(fonts/HelveticaNow/HelveticaNowDisplay-Medium.woff);
}

@font-face {
    font-family:'Helvetica Regular';
    src: url(fonts/HelveticaNow/HelveticaNowDisplay-Regular.woff);
}

@font-face {
    font-family:'Helvetica Light';
    src: url(fonts/HelveticaNow/HelveticaNowDisplay-Light.woff);
}

:root {
    /* COLORES PRIMARIOS */
    --color1: #f5f5f5;
    --color2: #1E1E1E;
    --color3: #c6c6c6;
    /* TIPOGRAFÃAS */
    --tipoTitulos: 'Helvetica Bold', sans-serif;
    --tipoSubtitulos: 'Helvetica Medium', sans-serif;
    --tipoGeneral: 'Helvetica Regular', sans-serif;
    --tipoLight: 'Helvetica Light', sans-serif;
  }

body {
    background-color: var(--color1);
    overflow-x: hidden;
}

 img{
    width: 100%;
    vertical-align: middle;
 }


.button{
  border: solid var(--color2);
  border-radius: 0.2em;
  padding: 0.5em 0.5em;
  width: fit-content;
  color:var(--color1);
  background-color: var(--color2);
  border: solid var(--color1);
  text-decoration: none;
  font-family: var(--tipoGeneral);
  
}

.button:hover{
  background-color: var(--color1);
  border: solid var(--color2);
  color: var(--color2);
  transition: 0.3s;
}
  
 /* PERSONALIZACION MENU */

.nav-link {
  color: var(--color1);
  font-family: var(--tipoSubtitulos);
}

.sticky-top {
position: sticky;
top: 0;
z-index: 998;}

p {
  font-family: var(--tipoGeneral);
}

h1 {
  font-family: var(--tipoTitulos);
  color: var(--color2);
  margin: 20pt;
  font-size: 60pt;
}

h2 {
  font-family: var(--tipoSubtitulos);
  color: var(--color2);
  font-size: 30pt;
}

/* MARQUEE */
.marquee {
  width: 100%;
  height: 55px;

  border-bottom: SOLID 3px var(--color2);
  overflow: hidden;
}

.marquee li {
  font-size: 25pt;
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 10s linear infinite;
}

.marquee__item {
  flex-shrink: 0;
}

@keyframes scrolling {
  0% { transform: translateX(0) }
  100% { transform: translateX(-100%) }
}

@keyframes marquee {
  0%{
transform: translateX(0);
  }
  100%{
      transform: translateX(-50%);
    }

}

/* PRODUCT SECTION */

.product-p4 {
  padding-top: 70px; 
}

.product  h1{
  margin: 0%;
}
.product .photocontainer {
display: flex;
justify-content: center;
}

.photocontainer> img{
width: 70%;
}

 .preview {
  display: flex !important;
}

/* MODAL */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color2);
}

.modal-content {
  position: relative;
  background-color: var(--color1);
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1200px;
}

.close {
  color:var(--color1);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:var(--color3);
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:var(--color1);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.numbertext {
  color:var(--color1);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color:var(--color2);
  padding: 2px 16px;
  color:var(--color1);
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* SIMILAR SECTION */
.Similar{
  background-color: var(--color2);

} 

.Similar h1,
.Similar h5,.Similar p{
color: var(--color1);

} 

.card {
  background-color: transparent;
  border: none; 
}

.card > .photocontainer2 {
  display: flex;
  justify-content: center;
}
.card > .photocontainer2>img {
width: 75%;
}


.responsive {
  display: flex;
  height: 275px;
}


/* FORMULARIO */

.newsletter {
  display: flex;
  justify-content: center;
  background-image: url(../media/img/news.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}


body  form  h2 {
  font-size: 40pt;
  color: var(--color1);
}


form{
  font-family: var(--tipoGeneral);
  background-color: var(--color2);
  width: 45vw;
  height: auto;
  color: var(--color1);
}

/* FOOTER */
footer {
  background-color: var(--color2);
  color: var(--color1);
  padding: 2em;
}

/* hover footer */
body svg:hover {
  color: var(--color3) ;
}

footer p:hover {
  color: var(--color3);
}




/* RESPONSIVE */
@media screen and (max-width: 980px) { 

  h1 {
      font-size: 50pt !important;
      
  }
  h2{
      font-size: 30pt !important;
  }
  form{
    width: 50vw;
  }
  p{
font-size: 1em;
  }
  form label{
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  .footerimage {
      display: none;
  }

  .chai {
      padding-left: 0 !important; 
      display: flex !important;
      flex-direction: column-reverse;
    }

}






@media screen and (max-width: 750px) { 
  form{
    width: 60vw;
  }
  p{
    font-size: 0.9em;
      }
      form label{
        font-size: 0.9em;
      }
}
@media screen and (max-width: 550px) { 

  h1 {
    
      font-size: 35pt !important;
  }
  h2{
      font-size: 20pt !important;
     
  }
  form{
    width: 60vw;
  }
  p{
    font-size: 0.8em;
      }
      form label{
        font-size: 0.8em;
      }
}

